/*  light theme for neo-brutalism   */

.brutalism-light {
    --color-1: #ffd84c;
    --color-2: #78CD76;
    --color-3: #3F8CFF;
    --color-4: #FF7373;
    --shadow-offset: 3px;
}

.brutalism-light button {
    border: 2px solid black;
    background-color: white;
}

.brutalism-light button:hover {
    box-shadow: var(--shadow-offset) var(--shadow-offset) black;
}

.brutalism-light nav, main{
    background-color:var(--color-1);
}

.brutalism-light #skills {
    background-color: var(--color-2);
}

.brutalism-light footer {
    background-color: var(--color-3);
}