/*  light theme for neo-brutalism   */
.brutalism-light {
    --font-color-1: black;
    --font-color-2: white;

    --color-1: #ffd84c;
    --color-2: #78CD76;
    --color-3: #3F8CFF;
    --color-4: #FF7373;
    --color-5: white;

    --background-color: white;

    --icon-color: black;

    --border-color-1: black;
    --border-color-2: white;

    --shadow-color-1: black;
    --shadow-color-2: white;
}

/* Font colors */
h1, h2, h3, h4, p, a, 
button, 
.description, 
.email {
    color: var(--font-color-1);
}

/* Navigation */
.brutalism-light nav, #main{
    background-color:var(--color-1);
}

.brutalism-light button {
    border: 2px solid var(--border-color-1);
    background-color: var(--background-color);
}

.brutalism-light button:hover {
    box-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-color-1);
}

/* Main Section */
.brutalism-light #profile-picture {
    border: var(--border-thickness) solid var(--border-color-1);
    box-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-color-2),
                var(--shadow-offset-2) var(--shadow-offset-2) var(--shadow-color-1);
}

/* Skills Section */
.brutalism-light #skills {
    background-color: var(--color-2);
}

.brutalism-light .skill-card {
    background-color: var(--background-color);
    border: 2px solid var(--border-color-1);
    color: var(--font-color-1);
}

/* Project section */
.brutalism-light #project{
    background-color: var(--color-5);
}

.brutalism-light :is(.project-card img, .project-card) {
    border-color: var(--border-color-1);
    background-color: var(--background-color);
}

/* Footer section */
.brutalism-light footer {
    background-color: var(--color-3);
}

.brutalism-light .cv-button {
    background-color: var(--color-4);
}

.brutalism-light .social-media a i {
    color: var(--icon-color);
}