/*  light theme for neo-brutalism   */
.brutalism-light {
    --color-1: #ffd84c;
    --color-2: #78CD76;
    --color-3: #3F8CFF;
    --color-4: #FF7373;
    --icon-color: black;
    --border-color: black;
    --background-color: white;
}

/* Navigation */
.brutalism-light nav, #main{
    background-color:var(--color-1);
}

.brutalism-light button {
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
}

.brutalism-light button:hover {
    box-shadow: var(--shadow-offset) var(--shadow-offset) black;
}

/* Main Section */
.brutalism-light #profile-picture {
    border: 2px solid var(--border-color);
}

/* Skills Section */
.brutalism-light #skills {
    background-color: var(--color-2);
}

.brutalism-light .skill-card {
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
}

/* Footer sectio */
.brutalism-light footer {
    background-color: var(--color-3);
}

.brutalism-light .cv-button {
    background-color: var(--color-4);
}

.brutalism-light .social-media a i {
    color: var(--icon-color);
}