/*Basic Responsive structure for neo-brutalist theme*/

/*
Following aspects to be defined here:
    -Animations
    -shapes of elements
*/


.brutalism {
    font-family: 'space-grotesk', sans-serif;
    --shadow-offset: 4px;
    --shadow-offset-2: 8px;
    --border-thickness: 3px;
}

.brutalism nav button {
    border-radius: 10px;
}

.brutalism #profile-picture {
    border-radius: 59px;
}

.brutalism .skill-card{
    border-radius: 10px;
}

.brutalism .project-card img {
    border-bottom: var(--border-thickness) solid ;
}

.brutalism .project-card{
    border: 2px solid;
    border-radius: 15px;
    overflow: hidden;
}

.brutalism .cv-button {
    border-radius: 0.5em;
}