/*Basic Responsive structure for neo-brutalist theme*/

/*
Following aspects to be defined here:
    -Animations
    -shapes of elements
*/


.brutalism {
    font-family: 'space-grotesk', sans-serif;
    --shadow-offset: 3px;
    --border-thickness: 3px;
}

.brutalism nav button {
    border-radius: 10px;
}

.brutalism #profile-picture {
    border-radius: 59px;
}

.brutalism .skill-card{
    border-radius: 10px;
}

.brutalism .project-card img {
    border-bottom: 3px solid black;;
}

.brutalism .cv-button {
    border-radius: 0.5em;
}