.neumorphism-light {
    --base-color-1: #e6e6e6;
    --shadow-light: #cacaca;
    --shadow-dark:#ffffff;
    /*--font-color: #4a4a4a;*/
    --font-color:#636773;
    --font-color-hover: #97c9e1;
    --font-shadow-hover:#bac7cd00;
}

/*Base colors for all sections*/ 
.neumorphism-light nav,
.neumorphism-light #main,
.neumorphism-light #skills,
.neumorphism-light #project,
.neumorphism-light footer{
    background-color: var(--base-color-1);
}

/* Font colors */
.neumorphism-light h1, 
.neumorphism-light h2, 
.neumorphism-light h3, 
.neumorphism-light h4, 
.neumorphism-light p, 
.neumorphism-light a, 
.neumorphism-light button, 
.neumorphism-light .description, 
.neumorphism-light .email,
.neumorphism-light .skill-card, #name {
    color: var(--font-color);
}

/* Navigation */
.neumorphism-light nav {
    box-shadow: 0px -12px 25px #3e4656;
}

.neumorphism-light nav button {
    border-radius: var(--radius-nav-btn);
    background: var(--base-color-1);
    box-shadow:  4px 4px 8px var(--shadow-light),
                -4px -4px 8px var(--shadow-dark);
}

.neumorphism-light nav button:hover,
.neumorphism-light footer a:hover,
.neumorphism-light .cv-button:hover .cv-button-link {
    color: var(--font-color-hover);
    text-shadow: 0 0 3px var(--font-shadow-hover);
}

.neumorphism-light nav button:active {
    background: linear-gradient(145deg, #cfcfcf, #f6f6f6);
    box-shadow:  4px 4px 8px var(--shadow-light),
                -4px -4px 8px var(--shadow-dark);
}

/* Main section */
.neumorphism-light #main img{
    background: var(--base-color-1);
    box-shadow:  13px 13px 21px var(--shadow-light),
                -13px -13px 21px var(--shadow-dark);
}

/* skills section */
.neumorphism-light .skill-card {
    background: var(--base-color-1);
    box-shadow:  inset 4px 4px 8px var(--shadow-light),
                inset -4px -4px 8px var(--shadow-dark);
}

/* Project Section */
.neumorphism-light .project-card {
    border-radius: 1em;
    background: var(--base-color-1);
    box-shadow:  13px 13px 21px var(--shadow-light),
                -13px -13px 21px var(--shadow-dark);
}

/* Footer button */
.neumorphism-light footer button {
    border-radius: 40px;
    background: var(--base-color-1);
    box-shadow:  13px 13px 21px var(--shadow-light),
                -13px -13px 21px var(--shadow-dark);
}

.neumorphism-light footer button:hover {
    color: var(--font-color-hover);
    text-shadow: 0 0 3px var(--font-shadow-hover);
}

.neumorphism-light footer button:active {
    border-radius: 40px;
    background: linear-gradient(170deg, #cfcfcf, #f6f6f6);
    box-shadow:  13px 13px 21px var(--shadow-light),
            -13px -13px 21px var(--shadow-dark);
}