.neumorphism-dark {
    --base-color-1: #2f3541;
    --shadow-light: #21252e;
    --shadow-dark:#3d4555;
    --font-color: #adb0b7;
    --font-color-hover:#f1f2f6;
    --font-color-hover-2: rgb(255, 255, 255);
    --font-shadow-hover: #f0f0f093;
    --font-shadow-hover-2: rgba(255, 255, 255, 0.498);
}

/*Base colors for all sections*/ 
.neumorphism-dark nav,
.neumorphism-dark #main,
.neumorphism-dark #skills,
.neumorphism-dark #project,
.neumorphism-dark footer{
    background-color: var(--base-color-1);
}

/* Font colors */
.neumorphism-dark :is(h1, h2, h3, h4, p, a, button, .description, .email, .skill-card),
.neumorphism-dark #name {
    color: var(--font-color);
}

/* Navigation buttons*/
.neumorphism-dark nav {
    box-shadow:  0px -12px 25px #13151a
}
.neumorphism-dark nav button {
    border-radius: var(--radius-nav-btn);
    background: var(--base-color-1);
    box-shadow:  4px 4px 8px var(--shadow-light),
                -4px -4px 8px var(--shadow-dark);
}

.neumorphism-dark nav button:hover,
.neumorphism-dark footer a:hover,
.neumorphism-dark .cv-button:hover .cv-button-link {
    color: var(--font-color-hover);
    text-shadow: 0 0 3px var(--font-shadow-hover);
}

.neumorphism-dark nav button:active {
    background: linear-gradient(145deg, #2a303b, #323946);
    box-shadow:  4px 4px 8px var(--shadow-light),
                -4px -4px 8px var(--shadow-dark);
}

/* Main section */
.neumorphism-dark #main img{
    background: var(--base-color-1);
    box-shadow:  13px 13px 21px var(--shadow-light),
                -13px -13px 21px var(--shadow-dark);
}

/* skills section */
.neumorphism-dark .skill-card {
    background: var(--base-color-1);
    box-shadow:  inset 4px 4px 8px var(--shadow-light),
                inset -4px -4px 8px var(--shadow-dark);
}

/* Project section */
.neumorphism-dark .project-card {
    border-radius: 1em;
    background: var(--base-color-1);
    box-shadow:  13px 13px 21px var(--shadow-light),
                -13px -13px 21px var(--shadow-dark);
}

/* Footer button */
.neumorphism-dark footer button {
    border-radius: 40px;
    background: var(--base-color-1);
    box-shadow:  13px 13px 21px var(--shadow-light),
                -13px -13px 21px var(--shadow-dark);
}

.neumorphism-dark footer button:active {
    border-radius: 40px;
    background: linear-gradient(170deg, #2a303b, #323946);
box-shadow:  13px 13px 21px var(--shadow-light),
            -13px -13px 21px var(--shadow-dark);
}